In [1]:
import pandas as pd

## Estabelecimentos

In [2]:
estabelecimentos = pd.read_excel('raw/Estabelecimentos comerciais São Carlos.xlsx', index_col=None)

In [3]:
estabelecimentos.head()

,MOBI_NUM_INSCRICAO,BUSCA_NOME(MOBI.MOBI_NUM_CADASTRO),ENDERECO,ATIT_DES_ATIVIDADE
0,50370,VALMARCO - MATERIAIS ELETRICOS LTDA - EPP,R DONA ALEXANDRINA nº 494 ANEXO 504 CENTRO ...,COMÉRCIO VAREJISTA DE MATERIAIS HIDRÁULICOS
1,53614,ATMOSFERA MAGAZINE LTDA ME,AV DR. CARLOS BOTELHO nº 1600 CENTRO CEP 1...,COMÉRCIO VAREJISTA DE ARTIGOS DE VIAGEM
2,53614,ATMOSFERA MAGAZINE LTDA ME,AV DR. CARLOS BOTELHO nº 1600 CENTRO CEP 1...,"COMÉRCIO VAREJISTA DE SUVENIRES, BIJUTERIAS E ..."
3,56886,CORETINTAS - TINTAS E MULTIPRODUTOS LTDA - EPP,R MIGUEL PETRONI nº 1816 JARDIM BANDEIRAN...,COMÉRCIO VAREJISTA DE MATERIAIS DE CONSTRUÇÃO ...
4,56339,INDUSTRIA E COMERCIO DE MOVEIS BERTOLINO LTDA ...,R MAJOR MANOEL A DE MATTOS nº 1767 VILA N...,TAPECARIA E REFORMA DE ESTOFAMENTOS EM GERAL

In [4]:
estabelecimentos = estabelecimentos.rename(columns={'MOBI_NUM_INSCRICAO': 'Num_inscrição',
                                 'BUSCA_NOME(MOBI.MOBI_NUM_CADASTRO)' : 'Nome',
                                 'ENDERECO' : 'Endereço',
                                 'ATIT_DES_ATIVIDADE' : 'Tipo'                               
                                })

In [5]:
estabelecimentos.to_csv(r'data/estabelecimentos.csv', index=False)

## Praças

In [6]:
pracas = pd.read_excel('raw/Praças de São Carlos (1).xls', index_col=None)

In [7]:
pracas.head()

                       PRAÇAS DE SÃO CARLOS E REGIÃO
0   PRAÇA AMADOR BUENO - Situada no Jardim Centen...
1                      PRAÇA ITÁLIA - Lei nº1.882/54
2  PRAÇA OSWALDO CRUZ - Localizada na rua Conde d...
3  PRAÇA CEL. PAULINO CARLOS DE ARRUDA BOTELHO - ...
4   do Pinhal, Treze de Maio, Av. São Carlos e Do...

In [8]:
pracas = pracas.rename(columns={'PRAÇAS DE SÃO CARLOS E REGIÃO' : 'Nome'})

In [9]:
pracas.to_csv(r'data/praças.csv', index=False)

## Pontos de Ônibus

In [11]:
pontos_onibus = pd.read_excel('raw/Pontos de ônibus de São Carlos.xlsx', index_col=None)

In [12]:
pontos_onibus.head()

   Latitude:  Longitude:
0 -21.936774  -47.895920
1 -21.936067  -47.895156
2 -21.934742  -47.893912
3 -21.934391  -47.893440
4 -21.932259  -47.891519

In [13]:
pontos_onibus = pontos_onibus.rename(columns={'Latitude:' : 'Lat',
                                              'Longitude:' : 'Long'
                                             })

In [14]:
pontos_onibus.to_csv(r'data/pontos_onibus.csv', index=False)

## Pontos de Ônibus cobertos

In [17]:
pontos_onibus_cobertos = pd.read_excel('raw/Pontos cobertos.xlsx', index_col=None, skiprows=[0])

In [18]:
pontos_onibus_cobertos.head()

   Nº                            Endereço do ponto
0   1  Rua Ray Wesley Herrick, 475 -  Joquei Clube
1   2  Rua Ray Wesley Herrick, 705 -  Joquei Clube
2   3          Rua Rio Paraná , 338 - Joquei Clube
3   4          Rua Rio Paraná , 060 - Joquei Clube
4   5         Rua Rio Amazonas, 725 - Joquei Clube

In [19]:
pontos_onibus_cobertos = pontos_onibus_cobertos.drop(columns='Nº')

In [20]:
pontos_onibus_cobertos = pontos_onibus_cobertos.rename(columns={'Endereço do ponto:' : 'Endereço'})

In [21]:
pontos_onibus_cobertos.to_csv(r'data/pontos_cobertos.csv', index=False)

## Escolas

In [23]:
escolas = pd.read_excel('raw/Unidades Escolares 2019 - municipais.xlsx', index_col=None)

In [24]:
escolas.head()

,Unnamed: 0,CEMEI (0 a 3 anos),ENDEREÇO,FONE,ORELHÃO,RESPONSAVEL,FONE PARTICULAR,EMAIL PARTICULAR,Unnamed: 8,Unnamed: 9
0,30º,Amelia Meirelles Botta (Profa),"R.Pericles Soares, 160-Arnon de Mello",3307-4454,3307-0467,Regina Celia de Oliveira Novaes,3374-7786/99112-8713,cemei.amelia.botta@gmail.com,NaN,NaN
1,14º,Antonio Cotrim (Prof),"R.José Tiberti, 160-Jd.Munique-SC VIII",3419-7815,NaN,Eloisa Catarina Fatima de Oliveira,3419-2831/99737-5051,Cemei.antonio.cotrim@gmail.com,NaN,NaN
2,15º,Bento Prado de Almeida Ferraz Jr (Prof),R.Francisca Dirce Barbosa s/n- Douradinho,3415-0451,NaN,Ana Maria Fonseca,3372-8108/99216-2405,Cemei.bento.prado@gmail.com,NaN,NaN
3,16º,Bruno Panhoca,"R.Vicente Pelicano, 740-Azulville",3368-5139,3368-0389,Adriana Aparecida Rocha,99767-7992,Cemei.bruno.panhoca@gmail.com,NaN,NaN
4,32º,Dionisio da Silva,"R.Cristóvão Martinelli, 150 – Sta Eudoxia",3379-1419,NaN,Celia Ap Masuccio Redondo Tassim,99724-5170,Cemei.dionisio.da.silva@gmail.com,NaN,NaN

In [25]:
escolas = escolas.drop(columns=['Unnamed: 0'])

In [26]:
escolas = escolas.rename(columns={'CEMEI (0 a 3 anos)' : 'Nome',
                                  'ENDEREÇO' : 'Endereço',
                                  'FONE' : 'Telefone',
                                  'ORELHÃO' : 'Orelhão',
                                  'RESPONSAVEL' : 'Responsável',
                                  'FONE PARTICULAR' : 'Telefone Particular',
                                  'EMAIL PARTICULAR' : 'Email'
                                 })

In [27]:
escolas.to_csv(r'data/Escolas.csv', index=False)

## Crimes

In [28]:
crimes = pd.read_excel('raw/Prot 6917-19 (1).xlsx', index_col=None)

In [29]:
crimes.head()

,ID_DELEGACIA,NOME_DEPARTAMENTO,NOME_SECCIONAL,NOME_DELEGACIA,CIDADE,ANO_BO,NUM_BO,NOME_DEPARTAMENTO_CIRC,NOME_SECCIONAL_CIRC,NOME_DELEGACIA_CIRC,...,DESCR_CONDUTA,DESDOBRAMENTO,BAIRRO,DESCR_TIPOLOCAL,DESCR_SUBTIPOLOCAL,CEP,LOGRADOURO,NUMERO_LOGRADOURO,LATITUDE,LONGITUDE
0,10365,DECAP,DEL.SEC.4º NORTE,90º D.P. PQ. NOVO MUNDO,S.CARLOS,2017,1070,DEINTER 3 - RIBEIRAO PRETO,DEL.SEC.SAO CARLOS,04º D.P. SÃO CARLOS,...,VEICULO,NaN,RURAL,RODOVIA/ESTRADA,OUTROS,-,RODOVIA SP 310,224.0,-22.077654,-47.840905
1,10365,DECAP,DEL.SEC.4º NORTE,90º D.P. PQ. NOVO MUNDO,S.CARLOS,2018,719,DEINTER 3 - RIBEIRAO PRETO,DEL.SEC.SAO CARLOS,04º D.P. SÃO CARLOS,...,VEICULO,NaN,VL SANTA ISABEL,VIA PÚBLICA,VIA PÚBLICA,13570790,RUA SANTA ISABEL,230.0,-22.034556,-47.883901
2,30212,DEMACRO,DEL.SEC.GUARULHOS,04º D.P. GUARULHOS,S.CARLOS,2018,6604,DEINTER 3 - RIBEIRAO PRETO,DEL.SEC.SAO CARLOS,04º D.P. SÃO CARLOS,...,VEICULO,NaN,RURAL,VIA PÚBLICA,VIA PÚBLICA,NaN,RODOVIA SP 310,229.0,-22.033240,-47.860367
3,30212,DEMACRO,DEL.SEC.GUARULHOS,04º D.P. GUARULHOS,S.CARLOS,2018,6734,DEINTER 3 - RIBEIRAO PRETO,DEL.SEC.SAO CARLOS,05º D.P. SÃO CARLOS,...,OUTROS,NaN,RURAL,VIA PÚBLICA,VIA PÚBLICA,NaN,RODOVIA SP 310,240.0,-21.972914,-47.943115
4,30313,DEMACRO,DEL.SEC.MOGI DAS CRUZES,04º D.P. MOGI DAS CRUZES,S.CARLOS,2017,1458,DEINTER 3 - RIBEIRAO PRETO,DEL.SEC.SAO CARLOS,03º D.P. SÃO CARLOS,...,VEICULO,NaN,CGACARA CASALE,COMÉRCIO E SERVIÇOS,LOCADORA-OUTROS,13560011,AVENIDA SÃO CARLOS,3119.0,-22.004271,-47.891081

In [30]:
crimes['TIPO_INTOLERANCIA'].isna().sum()

8345

In [31]:
sorted(crimes.columns)

['ANO_BO',
 'BAIRRO',
 'CEP',
 'CIDADE',
 'DATAHORA_COMUNICACAO_BO',
 'DATAHORA_IMPRESSAO_BO',
 'DATAHORA_REGISTRO_BO',
 'DATA_OCORRENCIA_BO',
 'DESCRICAO_APRESENTACAO',
 'DESCR_CONDUTA',
 'DESCR_PERIODO',
 'DESCR_SUBTIPOLOCAL',
 'DESCR_TIPOLOCAL',
 'DESCR_TIPO_BO',
 'DESDOBRAMENTO',
 'FLAG_AUTORIA_BO',
 'FLAG_FLAGRANTE',
 'FLAG_INTOLERANCIA',
 'FLAG_STATUS',
 'HORA_OCORRENCIA_BO',
 'ID_DELEGACIA',
 'LATITUDE',
 'LOGRADOURO',
 'LONGITUDE',
 'NOME_DELEGACIA',
 'NOME_DELEGACIA_CIRC',
 'NOME_DEPARTAMENTO',
 'NOME_DEPARTAMENTO_CIRC',
 'NOME_MUNICIPIO_CIRC',
 'NOME_SECCIONAL',
 'NOME_SECCIONAL_CIRC',
 'NUMERO_LOGRADOURO',
 'NUM_BO',
 'RUBRICA',
 'TIPO_INTOLERANCIA']

In [32]:
crimes = crimes.drop(columns=['DATAHORA_COMUNICACAO_BO', 'TIPO_INTOLERANCIA'])

In [33]:
crimes = crimes.rename(columns={'ANO_BO' : 'Ano',
                                'BAIRRO' : 'Bairro',
                                'CIDADE' : 'Cidade',
                                'DATAHORA_IMPRESSAO_BO' : 'Data_hora_impressao_BO',
                                'DATAHORA_REGISTRO_BO' : 'Data_hora_registro_BO',
                                'DATA_OCORRENCIA_BO' : 'Data_ocorrencia_BO',
                                'DESCRICAO_APRESENTACAO' : 'Apresentação',
                                'DESCR_CONDUTA' : 'Conduta',
                                'DESCR_PERIODO' : 'Período',
                                'DESCR_SUBTIPOLOCAL' : 'Subtipo_local',
                                'DESCR_TIPOLOCAL' : 'Tipo_local',
                                'DESCR_TIPO_BO' : 'Tipo_BO',
                                'DESDOBRAMENTO' : 'Desdobramento',
                                'FLAG_AUTORIA_BO': 'Autoria_BO',
                                'FLAG_FLAGRANTE' : 'Flagrante',
                                'FLAG_INTOLERANCIA' : 'Intolerância',
                                'FLAG_STATUS' : 'Status',
                                'HORA_OCORRENCIA_BO' : 'Hora_ocorrencia_BO',
                                'ID_DELEGACIA' : 'ID_delegacia',
                                'NOME_DELEGACIA_CIRC' : 'Nome_delegacia_circ',
                                'NOME_DEPARTAMENTO' : 'Nome_departamento',
                                'NOME_DEPARTAMENTO_CIRC' : 'Nome_departamento_circ',
                                'NOME_MUNICIPIO_CIRC' : 'Município',
                                'NOME_SECCIONAL' : 'Nome_seccional',
                                'NOME_SECCIONAL_CIRC' : 'Nome_seccional_circ',
                                'NUMERO_LOGRADOURO' : 'Num_logradouro',
                                'NUM_BO' : 'Num_BO',
                                'RUBRICA' : 'Rubrica'
                        })

In [34]:
crimes.to_csv(r'data/Crimes.csv', index=False)