In [1]:
import pandas as pd

In [2]:
estabelecimentos = pd.read_csv('data/estabelecimentos.csv', index_col=None)
pracas = pd.read_csv('data/praças.csv', index_col=None)
pontos_onibus = pd.read_csv('data/pontos_onibus.csv', index_col=None)
pontos_onibus_cobertos = pd.read_csv('data/pontos_cobertos.csv', index_col=None)
escolas = pd.read_csv('data/escolas.csv', index_col=None)
crimres = pd.read_csv('data/crimes.csv', index_col=None)

## Cleaning estabelecimentos

In [ ]:
estabelecimentos.head()

In [3]:
estabelecimentos = estabelecimentos.drop(columns=['Num_inscrição', 'Nome'])

In [4]:
estabelecimentos

,Endereço,Tipo
0,R DONA ALEXANDRINA nº 494 ANEXO 504 CENTRO ...,COMÉRCIO VAREJISTA DE MATERIAIS HIDRÁULICOS
1,AV DR. CARLOS BOTELHO nº 1600 CENTRO CEP 1...,COMÉRCIO VAREJISTA DE ARTIGOS DE VIAGEM
2,AV DR. CARLOS BOTELHO nº 1600 CENTRO CEP 1...,"COMÉRCIO VAREJISTA DE SUVENIRES, BIJUTERIAS E ..."
3,R MIGUEL PETRONI nº 1816 JARDIM BANDEIRAN...,COMÉRCIO VAREJISTA DE MATERIAIS DE CONSTRUÇÃO ...
4,R MAJOR MANOEL A DE MATTOS nº 1767 VILA N...,TAPECARIA E REFORMA DE ESTOFAMENTOS EM GERAL
...,...,...
8452,R EPISCOPAL nº 1976 SALA 1 CENTRO CEP 135...,COMÉRCIO VAREJISTA DE ARTIGOS DO VESTUÁRIO E A...
8453,R JUCA SABINO nº 1403 JARDIM BEATRIZ CEP...,COMÉRCIO ATACADISTA DE COSMÉTICOS E PRODUTOS D...
8454,R JUCA SABINO nº 1403 JARDIM BEATRIZ CEP...,COMÉRCIO ATACADISTA DE OUTRAS MÁQUINAS E EQUIP...
8455,AL DOS CRISANTEMOS nº 362 CIDADE JARDIM ...,RESTAURANTES E SIMILARES
8456,AL DOS CRISANTEMOS nº 362 CIDADE JARDIM ...,"LANCHONETES, CASAS DE CHÁ, DE SUCOS E SIMILARES"

## Cleaning praças

In [5]:
pracas

                                                  Nome
0     PRAÇA AMADOR BUENO - Situada no Jardim Centen...
1                        PRAÇA ITÁLIA - Lei nº1.882/54
2    PRAÇA OSWALDO CRUZ - Localizada na rua Conde d...
3    PRAÇA CEL. PAULINO CARLOS DE ARRUDA BOTELHO - ...
4     do Pinhal, Treze de Maio, Av. São Carlos e Do...
..                                                 ...
206                               rua Alberto Lanzoni.
207  PRAÇA DIMAS ANTONIO MILANETO - Lei nº 14.172/0...
208                                       Hortências.
209  PRAÇA GENERAL CARLOS DE MEIRA MATTOS - Lei nº ...
210  entre as ruas Dona Alexandrina, São Joaquim e ...

[211 rows x 1 columns]

In [6]:
# dealing with names in different rows

list_pracas = []

for row in pracas.index:
    text = pracas.iloc[row][0].split(' ')
    
    if text[0].isupper():
        list_pracas.append(pracas.iloc[row][0])
    
    elif (len(text) > 1) and (text[1].isupper()) and (len(text[1]) > 3):
        list_pracas.append(pracas.iloc[row][0])
        
    else:
        list_pracas[-1] += pracas.iloc[row][0]

In [7]:
pracas_names = [text.split('-', 1)[0] for text in list_pracas]

In [8]:
pracas_description = [text.split('-', 1)[1] for text in list_pracas]

In [9]:
pracas = pd.DataFrame({'Nome': pracas_names, 'Descriçao':pracas_description})

In [10]:
pracas

,Nome,Descriçao
0,PRAÇA AMADOR BUENO,Situada no Jardim Centenário
1,PRAÇA ITÁLIA,Lei nº1.882/54
2,PRAÇA OSWALDO CRUZ,"Localizada na rua Conde do Pinhal, ao lado do..."
3,PRAÇA CEL. PAULINO CARLOS DE ARRUDA BOTELHO,(Defronte a Catedral) Formada pelas ruas Cond...
4,PRAÇA DOS POMBOS,Terreno situado entre o prolongamento da rua ...
...,...,...
105,PRAÇA JORGE MIGUEL,Lei nº 14.056/07 - Entre as ruas Dr. Alderico...
106,ÁREA DE LAZER LUIS GILBERTO BOTURA,Lei nº 14.057/07 - Na rua Rogério Mastrofranc...
107,PRAÇA NIKOLAS CHICRALA,"Lei nº 14.146/07 - no Jardim Planalto, na esq..."
108,PRAÇA DIMAS ANTONIO MILANETO,"Lei nº 14.172/07 - Na Cidade Jardim, entre as..."
109,PRAÇA GENERAL CARLOS DE MEIRA MATTOS,Lei nº 14.204/07 - Na Avenida Trabalhador São...

## Cleaning pontos_onibus

In [11]:
pontos_onibus

            Lat       Long
0    -21.936774 -47.895920
1    -21.936067 -47.895156
2    -21.934742 -47.893912
3    -21.934391 -47.893440
4    -21.932259 -47.891519
...         ...        ...
1261 -22.021939 -47.910666
1262 -22.034288 -47.907337
1263 -22.034043 -47.907522
1264 -22.033172 -47.908237
1265 -22.033697 -47.908517

[1266 rows x 2 columns]

## Cleaning pontos_cobertos

In [12]:
pontos_onibus_cobertos

                                  Endereço do ponto
0       Rua Ray Wesley Herrick, 475 -  Joquei Clube
1       Rua Ray Wesley Herrick, 705 -  Joquei Clube
2               Rua Rio Paraná , 338 - Joquei Clube
3               Rua Rio Paraná , 060 - Joquei Clube
4              Rua Rio Amazonas, 725 - Joquei Clube
..                                              ...
167              Rua Dona Alexandrina, 761 - Centro
168              Rua Dona Alexandrina, 388 - Centro
169               Rua Dona Alexandrina, 42 - Centro
170              Av. Dr. Avaro Camera 268 - Gonzaga
171  Av Francisco Pereita Lopes, 1788 - Santa Paula

[172 rows x 1 columns]

## Cleaning escolas

In [13]:
escolas

,Nome,Endereço,Telefone,Orelhão,Responsável,Telefone Particular,Email,Unnamed: 8,Unnamed: 9
0,Amelia Meirelles Botta (Profa),"R.Pericles Soares, 160-Arnon de Mello",3307-4454,3307-0467,Regina Celia de Oliveira Novaes,3374-7786/99112-8713,cemei.amelia.botta@gmail.com,NaN,NaN
1,Antonio Cotrim (Prof),"R.José Tiberti, 160-Jd.Munique-SC VIII",3419-7815,NaN,Eloisa Catarina Fatima de Oliveira,3419-2831/99737-5051,Cemei.antonio.cotrim@gmail.com,NaN,NaN
2,Bento Prado de Almeida Ferraz Jr (Prof),R.Francisca Dirce Barbosa s/n- Douradinho,3415-0451,NaN,Ana Maria Fonseca,3372-8108/99216-2405,Cemei.bento.prado@gmail.com,NaN,NaN
3,Bruno Panhoca,"R.Vicente Pelicano, 740-Azulville",3368-5139,3368-0389,Adriana Aparecida Rocha,99767-7992,Cemei.bruno.panhoca@gmail.com,NaN,NaN
4,Dionisio da Silva,"R.Cristóvão Martinelli, 150 – Sta Eudoxia",3379-1419,NaN,Celia Ap Masuccio Redondo Tassim,99724-5170,Cemei.dionisio.da.silva@gmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...
80,Museu da Ciência Prof. Mario Tolentino,"R.Praça Cel. Salles, centro- 13560-220",3307-6903,NaN,Paulo Roberto Milanez,3372-6624/99991-4860,paulo.milanez@vivointernetdiscada.com.br,NaN,NaN
81,Secretaria Municipal de Educação,"R. 13 de maio, 2000 – centro –",3373-3222,NaN,Orlando Mengatti Filho,NaN,educação@saocarlos.sp.gov.br,NaN,NaN
82,NaN,13560-647,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,CEFPE,"R Conde do Pinhal, 2017",3419-9387,NaN,Gabriela Maria Fornaciari,3413-2125/99133-2769,NaN,NaN,NaN
84,CEMEAR,"Av. Maranhão, 35- Jd Gonzaga",3375-5167,NaN,Paulo Vinicius Pereira,NaN,NaN,NaN,NaN

In [14]:
escolas = escolas.drop(columns=['Telefone', 'Orelhão', 'Responsável', 'Telefone Particular', 'Email', 'Unnamed: 8', 'Unnamed: 9'])

In [15]:
escolas

,Nome,Endereço
0,Amelia Meirelles Botta (Profa),"R.Pericles Soares, 160-Arnon de Mello"
1,Antonio Cotrim (Prof),"R.José Tiberti, 160-Jd.Munique-SC VIII"
2,Bento Prado de Almeida Ferraz Jr (Prof),R.Francisca Dirce Barbosa s/n- Douradinho
3,Bruno Panhoca,"R.Vicente Pelicano, 740-Azulville"
4,Dionisio da Silva,"R.Cristóvão Martinelli, 150 – Sta Eudoxia"
...,...,...
80,Museu da Ciência Prof. Mario Tolentino,"R.Praça Cel. Salles, centro- 13560-220"
81,Secretaria Municipal de Educação,"R. 13 de maio, 2000 – centro –"
82,NaN,13560-647
83,CEFPE,"R Conde do Pinhal, 2017"
84,CEMEAR,"Av. Maranhão, 35- Jd Gonzaga"

## Converting to csv

In [16]:
estabelecimentos.to_csv(r'data/cleaned_features/estabelecimentos.csv', index=False)

In [17]:
pracas.to_csv(r'data/cleaned_features/praças.csv', index=False)

In [18]:
pontos_onibus.to_csv(r'data/cleaned_features/pontos_onibus.csv', index=False)

In [19]:
pontos_onibus_cobertos.to_csv(r'data/cleaned_features/pontos_cobertos.csv', index=False)

In [20]:
escolas.to_csv(r'data/cleaned_features/escolas.csv', index=False)